body {
    font-family:sans-serif;
    margin:1em;
    max-width: 800px;
    margin: 0 auto;
}
header {
    margin-bottom:4em;
}
dt, dd {display: block; margin: 0; padding: 0; }
dd {
    margin-bottom: 10px; 
    float: right; 
    width: 620px;
}
dt {
    width: 10em;
    float: left;
    clear: both;
    margin-bottom: 10px; 
}
dt a {
    color:#4072f7;
    font-size:1.3em;
    text-decoration:none;
    border:1px solid;
    padding:.25em;
    background:#e1e1f7;
    display: block;
}

dt a:hover {
    color:#2c51b0;
    background:#d6dcf7;
}

dt a:active {
    color:#2c51b0;
    background:#bac7f7;
}
a {
    color:#4072f7;
}

header { margin-bottom: 30px; }
#olinstar { margin: 30px 0 0; color: #888; border: none; }
#olinstar a { text-decoration: none; color: inherit; padding: 10px; display: block; }
#olinstar a:hover { color: black; background: #ddd; }
#olinstar, #olinstar li { display: block; margin: 0; padding: 0; }
#olinstar { overflow: auto; font-size: 22px; margin: 10px 0 10px;}
#olinstar li { float: left; width: 25%; text-align: center; }
#olinstar .apps b { color: #C26;}
#olinstar .students b { color: #3AC;}
#olinstar .clubs b { color: #3CA;}
#olinstar .projects b { color: #F90;}