body {
    font-family:sans-serif;
    margin:1em;
    max-width: 800px;
    margin: 0 auto;
}
header {
    margin-bottom:4em;
}
dd {
    margin-bottom:2em;
    margin-top:0.5em;
}
dt a {
    color:#4072f7;
    font-size:1.5em;
    text-decoration:none;
    border:1px solid;
    padding:.5em;
    display:inline-block;
    background:#e1e1f7;
}

dt a:hover {
    color:#2c51b0;
    background:#d6dcf7;
}

dt a:active {
    color:#2c51b0;
    background:#bac7f7;
}
a {
    color:#4072f7;
}

footer {
    border-top:1px solid;
}

header { margin-bottom: 30px; }
footer { margin: 30px 0 0; color: #888; border: none; }
footer a { text-decoration: none; color: inherit; }
footer a:hover { color: black; }
footer ul, footer li { display: block; margin: 0; padding: 0; }
footer ul { overflow: auto; font-size: 22px; margin-top: 50px;}
footer li { float: left; width: 25%; text-align: center; }
footer .apps b { color: #C26;}
footer .students b { color: #3AC;}
footer .clubs b { color: #3CA;}
footer .projects b { color: #F90;}